ul.nav {
    list-style: none;
}

ul.nav > li {
    display: inline;
    margin-left: 20px;
}

span.count {
    margin: 10px;
}


.flight-booker div.disabled {
    color: lightgray;
}

.invalid {
    color: maroon;
}

div.progress {
    position: relative;
    border: 1px solid black;
    background-color: lightgray;
    text-align: center;
    height: 30px;
}

div.progress-bar {
    position: absolute;
    top: 0;
    height: 100%;
    background-color: lightgreen;
}

div.progress > span {
    position: relative;
}

div.crud ul {
    width: 100%;
    height: 200px;
    overflow: auto;
    border: 1px solid black;
    padding: 5px;
    margin: 16px;
}

div.crud li {
    list-style: none;
    margin: 0;
    padding: 0;
}

div.crud li.selected {
    background-color: deepskyblue;
    color: white;
}

div.crud button {
    margin-left: 16px;
}

div.crud input {
    margin-left: 16px;
}

