ul.nav {
    list-style: none;
}
ul.nav > li {
    display: inline;
    margin-left: 20px;
}

span.count {
    margin: 10px;
}


.flight-booker div.disabled {
    color: lightgray;
}

.invalid {
    color: maroon;
}
